<style>
  body {
    margin: 0;
    padding: 0;
  }
  header {
    padding: 20px;
    text-align: center;
    background-color: #eeeeee;
    color: #656565;
    font-family: arial;
    font-size: 20px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ea6a5b;
  }

  li {
    float: left;
    padding-left: 35px;
  }

  li a {
    font-family: arial;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #111;
  }

  .active {
    color: black;
    border-bottom:3px solid #111;
  }

  #newpaint {
    font-family: arial;
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
  }

  #default-car {
    float: left;
    padding-left: 200px;
    width: 320px;
    height: 250px;
  }

  #arrow {
    padding-top: 65px;
    padding-left: 90px;
  }

  #new-car {
    float: right;
    padding-right: 200px;
    width: 320px;
    height: 250px;
  }

  form {
    margin-top: 100px;
    font-family: arial;
  }

  #details {
    padding-left: 96px;
  }

  #detailstbl {
    padding-left: 93px;
    font-family: arial;
  }

  h3 {
    font-family: arial;
    padding-left: 50px;
  }

  select {
    color: gray;
    width: 200px;
    font-size: 17px;
  }

  option {
    color: black;
  }

  .button {
    background-color: #ea6a5b;
    border: none;
    color: white;
    padding: 8px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 100px;
  }

  #paint-jobstbl, #performancetbl, #queuetbl {
    font-family: arial;
    border-collapse: collapse;
    width: auto;
  }

  #paint-jobstbl th, #queuetbl th {
    text-align: left;
    text-align: left;
    background-color: #ddd;
    border: 1px solid #ddd;
    padding: 10px 20px;
    text-align: left;
  }

  #paint-jobstbl td, #queuetbl td{
    border: 1px solid #ddd;
    padding: 10px 20px;
    text-align: left;
  }

  #performancetbl th {
    background-color: #ea6a5b;
    color: white;
    padding: 10px 20px;
    width: 120%;
    text-align: left;
  }

  #performancetbl td {
    padding-left: 20px;
    text-align: left;
  }

  #completed {
    color: #ea6a5b;
  }

  #paint-jobs {
    float: left;
    padding-left: 60px;
  }

  #performance {
    float: right;
    padding: 59px 60px;
  }

  #queue {
    clear: both;
    padding: 20px 60px;
  }

</style>
